aiofiles==0.7.0
aniso8601==9.0.1
arango-crud==1.0.5
asgiref==3.3.4
async-exit-stack==1.0.1
async-generator==1.10
Babel==2.9.1
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
colorama==0.4.4
dnspython==2.1.0
email-validator==1.1.2
entrypoints==0.3
fastapi==0.65.1
flake8==3.9.2
h11==0.12.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mccabe==0.6.1
packaging==20.9
pika==1.2.0
pip-review==1.1.0
promise==2.3
psycopg2==2.8.6
pycodestyle==2.7.0
pydantic==1.8.2
pyflakes==2.3.1
pymemcache==3.4.3
pyparsing==2.4.7
PyPika==0.48.2
python-multipart==0.0.5
pytypeutils==0.0.1
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
Rx==3.2.0
six==1.16.0
sqlparse==0.4.1
starlette==0.14.2
supervisor==4.2.2
typing-extensions==3.10.0.0
ujson==4.0.2
urllib3==1.26.5
uvicorn==0.14.0
websockets==9.1
